/*   Initial Settings    */

*{
    margin:0;
    line-height: 1.5em;
    padding:0;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background: #e3e3e3;
    display:flex;
    flex-direction:column;
    align-items: center;
}

/*-------------------------------HEADER----------------------------*/
header{
    width:100vw;
    height:15rem;
    background-image: url("img/background.jpg");
    background-position:center;
    background-size: cover;
    position:relative;
    display:flex;
    align-items: center;

}
.background{
    width:100vw;
    height:15rem;
    background-image: url("img/background.jpg");
    background-position:center;
    background-size: cover;
    filter: blur(2px);
    box-shadow: inset 0 0 0 1000px rgba(117, 73, 68,0.5);
    position:absolute;
}

.logoTodo,.logoList{
    filter:blur(0px);
    font-size:4rem;
}
.logoList{
    display:flex;
    align-items: flex-start;
    font-size:2rem;
    color:#A39C9D;
}
.logoTodo{
    color:#e3e3e3;
}
.logoWrapper{
    width:100vw;
    display:flex;
    justify-content: center;
    position:absolute;

}
.logo{
    width:5em;
    height:5em;
    position:absolute;
    z-index:5;
    bottom:50%;
}
.subTitle1,.subTitle2{
    font-size:0.8rem;
    z-index:200;
    margin-top:6rem;

}
.subTitle1{
    color:#e3e3e3;
}
.subTitle2{
    color:#F1D798;
}
.subTitleWrapper{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
/*---------------------CONTENT----------------------------------*/
content{
    background-color:#754944;
    width:100vw;
    height:40rem;
    display:flex;
    justify-content: center;
    font-family: Roboto, sans-serif;
    color:#e3e3e3;
    flex-direction: column;
}
content h1{
    font-size:1.5rem;
    text-align: center;

}
.app{
    height:30rem;
    display:flex;
    justify-content: center;
    margin-top:2rem;
}
.appArea {
    width: 16rem;
    height: 30rem;
    background: #b79891; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #b79891, #94716b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #b79891, #94716b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 2rem;
    display:flex;
    flex-direction: column;

}
.userBar{
    background-color:white;
    height:3rem;
    width:16rem;
    background-color:#F1D798;
    display:flex;
    align-items: center;
    justify-content: space-around;

}
.userBar img{
    width:2rem;
    height:2rem;
    margin:auto;
}
.greetings{
    color:#754944;
}
.username{
    color: #000000;
}
.greetingsWrapper{
    border:2px solid #9FB188;
    padding:0.3rem;
}
.taskList{
    background-color:#A39C9D;
    height:20rem;
    width:16rem;
    position:absolute;
    top:25rem;

}
.listWrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    height:20rem;
}
.addingPanel{
    background-color:#9FB188;
    height:5rem;
    width:16rem;
    position:absolute;
    top:45rem;
    text-align: center;
}
.addingPanel label{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
#addTask::placeholder{
    text-align: center;
}
.addButton{
    margin-top:1.8rem;

}
.addButton img{
    width:2rem;
    height:2rem;
}
.tasks{
    font-size:0.5rem;
}
/*----------------FOOTER-----------------------------------------*/
footer{
    width:100vw;
    height:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:#F1D798;
}
footer .credits{
    font-size:0.5rem;
}

